.btn {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
    background-color: $color-blue;
    color: $color-white;
    font-family: 'Montserrat-Black';
    @include border-radius(10px);
	&.btn--primary {
        width: 170px;
        padding: 15px 16px;
        @include fontSize(16, 19);
        text-transform: uppercase;
	}
	&.btn--secondary {
        width: 235px;
		padding: 13px 18px;
        @include fontSize(18, 30);
	}
	.icon {
		width: 30px;
		height: 30px;
		position: absolute;
		top: calc(30px - 16px);
		left: 19px;
	}
	span {
		margin-left: calc(30px + 15px);
	}
}