#home-links {
    margin-bottom: 55px;
    .home-links__wrapper {
        @include display-flex();
        @include justify-content(center);
        @include align-items (center);
        padding-top: 68px;
        padding-bottom: 68px;
    }
    .home-links__btn {
        &:nth-child(odd) {
            margin-right: 80px;
        }
    }
}