#philosophie {
	padding-top: 70px;

	.section-intro {
		max-width: 998px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 70px;
	}

	.philosophie__wrapper {
		padding-top: 70px;
	}

	.philosophie__wrapper__title {
		font-family: 'Montserrat-Medium';
		@include fontSize(30, 37);
		color: $color-grey
	}

	.philosophie__wrapper__video {
		padding-top: 58px;
		padding-bottom: 70px;
		height: 660px;
	}
}
